[workspace]
members = ["frontend"]

[package]
name = "bf"
version = "0.1.0"
edition = "2021"

[lib]
path = "src/lib.rs"
crate-type = ["cdylib", "rlib"]

[dependencies]
wasm-bindgen = "0.2.89"
js-sys = "0.3.66"

[profile.release]
opt-level = 3
lto = true